IMPALA_HOST=coordinator-default-impala.example.com
IMPALA_PORT=443
IMPALA_USER=username
IMPALA_PASSWORD=password
IMPALA_DATABASE=default

IMPALA_AUTH_MECHANISM=LDAP
IMPALA_USE_HTTP_TRANSPORT=true
IMPALA_HTTP_PATH=cliservice
IMPALA_USE_SSL=true

MCP_TRANSPORT=stdio
